# Ignore build directories
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata/

# Ignore dependencies
node_modules/
vendor/
Gemfile.lock

# Ignore OS and editor-specific files
.DS_Store
Thumbs.db
*.swp

#files

_posts/9999-1-1-todo.md
_notes/Current-Notes.md
_notes/
