/* Default light mode styles */
body[data-theme="light"],
body:not([data-theme]) {
    background-color: white;
    color: black;
}

body[data-theme="light"] header,
body:not([data-theme]) header {
    background-color: white;
    color: black;
}

/* Dark mode styles */
body[data-theme="dark"] {
    background-color: black;
    color: white;
}

body[data-theme="dark"] header {
    background-color: black;
    color: white;
}

/* Common styles */
body,
header {
    text-align: center;  /* Ensure text is centered */
}

#skills {
    margin: 2em;
    text-align: center;
}

.skill-category {
    margin-bottom: 2em;
}

.skill-category h3 {
    font-size: 1.2em;
    margin-bottom: 1em;
}

body[data-theme="dark"] .skill-box {
    display: inline-block;
    margin: 0.5em;
    padding: 0.5em 1em;
    border: 1px solid rgb(0, 175, 0);
    border-radius: 5px;
    background-color: rgb(0, 175, 0);
}

body[data-theme="light"] .skill-box {
    display: inline-block;
    margin: 0.5em;
    padding: 0.5em 1em;
    border: 1px solid rgb(0, 255, 0);
    border-radius: 5px;
    background-color: rgb(0, 255, 0);
}

.contact-button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.contact-button:hover {
    background-color: #0056b3;
}

/* Navigation Bar */
#top-nav {
    position: fixed;
    top: 0;
    right: 0;
    background-color: inherit;
    padding: 10px;
    z-index: 1;
}

#themeToggle {
    float: right;
    margin-left: 10px;
}

.nav-button {
    float: right;
    margin-left: 10px;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
}

.nav-button:hover {
    border-color: #ccc;
}

#themeToggle {
    float: right;
    margin-left: 10px;
    width: 30px;
    height: 15px;
    border-radius: 50%;  /* Make it a circle */
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

#themeToggle:focus {
    outline: none;
}

#themeIcon {
    font-size: 1.5em;
}
